* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #535bb1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}

.countainer {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vmin;
}

h2 {
  font-size: 8vmin;
}

#text {
  height: 7vmin;
  width: 50vmin;
  margin: 5vmin 0;
  font-size: 3vmin;
  border-radius: 3vmin;
  border: none;
  padding: 3vmin;
}

.add {
  height: 7vmin;
  width: 15vmin;
  background-color: #212121;
  border: none;
  color: #ffffff;
  border-radius: 5vmin;
  font-size: 3vmin;
}

.notes{
  margin-top: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notes p{
    margin-top: 1vmin;
    background-color: #ffffff;
    color: #000000;
    padding:1.5vmin;
    border-radius: 5vmin;
    font-size: 2.7vmin;
}

.notes span{
  margin-right: 1vmin;
  cursor: pointer;
  color: #ff0000;
}

